table {
	width:400px;
    border-color:white;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
table tr {
	line-height:40px;
	border-color:white;
}
table td {
	line-height:40px;
	border-color:white;
}
table tr:FIRST-CHILD {
	background:#f2f2f2;
}
table tr:nth-child(even) {
	background:#d5eeeb;
}
.toptip{
	margin-bottom: 10px;
	margin-top: 100px;
}